.logout-inner {
    display: flex;
    flex-direction: column;
    background-color: var(--main-white);
    padding: 1em;
}

.logout p, .logout h1 {
    color: var(--main-black);
}

.logout-body {
    margin-top: 0.4em;
    padding-left: 0.25em;
    margin-bottom: 0.5em;
}

.logout-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.logout-btn {
    margin-left: 0.5em;
    border: 0.2em solid var(--main-white);
    background-color: var(--main-red)
}

.logout-btn:hover {
    border:0.2em solid var(--main-red);
    background-color: var(--main-white);
    color: var(--main-red)
}

.logout-footer .cancel-btn {
    background-color: var(--main-orange);
}

.logout-footer .cancel-btn:hover {
    border: 0.2em solid var(--main-orange);
    background-color: var(--main-white);
    color: var(--main-orange);
}

/* .confirm-logout button:focus {
    outline: none;
} */