.crops {
    background-color: var(--main-green);
}

.animals {
    background-color: var(--main-orange);
}

.popup .product-name {
    color: var(--main-white)
}

.popup .product-type {
    margin-bottom: 0.5em;
}

.popup .product-info {
    padding: 1em;
}

.popup img {
    max-height: 3em;
    object-fit: contain;
    border-bottom-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    position: absolute;
    top: 0;
    right: 0;
}

.product-description {
    padding-left: 1em;
    margin-bottom: 10px;
}

.popup .product-price {
    margin-bottom: 0.05em;
    font-style: italic;
}

.popup .product-stock {
    font-style: italic;
}

.popup-buttons {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
}

.popup .add-to-cart {
    background-color: var(--main-green);
    border: 0.2em solid var(--main-white);
}

.close {
    margin-left: 10px;
    background-color: var(--main-red);
    border: 0.2em solid var(--main-white);
}

.close:hover {
    background-color: var(--main-red-hover);
}