.view-product .popup-inner {
    display: grid;
    grid-template-columns: 3fr 2fr; /* 3/5 for info, 2/5 for image */
    gap: 1em;
    align-items: start;
    padding: 0;
}

.view-product .product-name {
    color: var(--main-white)
}

.view-product .product-type {
    margin-bottom: 0.5em;
}

.view-product .product-info {
    padding: 1.5em;
}

.view-product img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-bottom-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}
    
.view-product .product-type, .view-product .product-description {
    margin-left: 0.5em;
}

.product-description {
    padding-left: 1em;
    margin-bottom: 10px;
}

.view-product .product-price {
    margin-bottom: 0.05em;
    font-style: italic;
    font-size: 0.6em;
}

.view-product .product-stock {
    font-style: italic;
    font-size: 0.6em;
}

.view-product .product-buttons {
    display: flex;
    justify-content: space-evenly;
    padding-right: 0.5em;
    padding-top: 1em;
}

.view-product .add-to-cart {
    background-color: var(--main-green);
    border: 0.2em solid var(--main-white);
}


.close {
    margin-left: 10px;
    background-color: var(--main-orange);
    border: 0.2em solid var(--main-white);
}

.close:hover {
    background-color: var(--main-white);
    color: var(--main-orange);
}

.delete {
    background-color: var(--main-red);
    border: 0.2em solid var(--main-white);
}

.delete:hover {
    background-color: var(--main-white);
    color: var(--main-red);
}