.cart-page {
    text-align: left;
    padding: 20px;
    height: calc(100% + 12em);
}

.cart-header {
    margin-bottom: 20px;
}

.cart-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
}

button {
    font-family: monospace;
    padding: 0.3em;
    width: 4em;
    border: 0.15em solid var(--main-black);
    border-radius: 0.5em;
    color: var(--main-white);
}

.add-to-cart {
    background-color: var(--main-green);
}

.add-to-cart:hover {
    background-color: var(--main-green-hover);
}

.view {
    background-color: var(--main-orange);
}

.view:hover {
    background-color: var(--main-orange-hover);
}