/* font formatting */
body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  
  /* makes the font appearance smoother */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

code {
  font-family: 'Courier New', monospace;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

html {
  background-color: #E3DFFF;
}

/* main container */
.App {
  display: flex;
  flex-direction: column; /* elements are to be placed by row*/
}

.login {
  display: flex;
  flex-direction: row;
  background: url('https://images5.alphacoders.com/422/thumb-1920-422284.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* work in progress might add viewport query later */
.left_login {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  height: 100vh;
  /* max-height: 100vh; */
}

.App_name_login p {
  margin: 0;
  padding: 0;
}

.App_name_login {
  z-index: 2;
  position: absolute;
  top: 0.85vw;
  left: 1.2vw;
  text-align: left;
  color: white;
  font-size: 4vw;
  font-weight:550;
  padding-left: 3vw;
  padding-right: 3vw;
}

.right_login {
  z-index: 3;
  display: flex;
  flex-direction: column;
  flex: 0.25;
  margin: 0.85vw;
  border-radius: 0.85vw;
  border: white;
  background: rgba(255, 255, 255, 0.8);
}

.login_opt {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.75vw;
  font-size: 1.75vw;
  font-weight: bolder;
  height: 6vw;
}

.login_opt_selected {
  background: #35605A;
  color: white;
  padding: 1.05vw;
  border-radius: 0.75vw; 
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  align-content: space-around;
  /* height: 100%; */
  max-height: 100vw;
  padding: 1vw;
  padding-left: 2.25vw;
  padding-right: 2.25vw;
  font-size: 1.25vw;
}

.login_form label {
  display: flex;
  flex-direction: column;
  width: 100%;;
  margin-bottom: 1.05vw;
  font-weight: bold;
}

.common_input {
  height: 1.4vw;
  font-size: 1.25vw;
}

.login_form div {
  display: flex;
  width: 100%;
  font-weight: bold;
  justify-content: space-between;
}

.showPass {
  font-size: 1vw;
  font-style: italic;
}

input[type="checkbox"] {
  height: 1.4vw;
  width: 1.4vw;
  margin-bottom: 0.85vw;
}

/* title formatting */
.App_name {
  display: flex;
  align-items: center;
  flex: 0.65; 

  margin-left: 4vw;

  text-align: left;
  color: white;
  font-size: 2.5vw;
}

/* menu elements */
.topnav {
  display: flex;
  flex-direction: row;  /* elements are to be placed in columns */
  background-color: #90E39A;
  height: 5vw; /* sets height to a fixed 100px value*/
  justify-content: space-between;
  z-index: 1;

  position: fixed;
  top: 0;
  width: 100%;
}

.topnav_placeholder {
  top: 0;
  height: 5vw;
  background-color: rgba(61, 58, 75, 0);
}

.select {
  flex: 0.35;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  width: 100%;
  text-decoration: none;
  font-size: 1.5vw;
}

.select .selected_menu {
  background-color: #35605A;
  color: #90E39A; /* This will now correctly change the text color */
  height: 100%;
  margin: 0;
  border: solid #35605A;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);
}

.select h3 {
  display: flex;
  padding-inline: 10px;
  text-decoration: none;
  color: white;
  flex: 1 1;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.App_body {
  display: flex;
  flex-direction: row;
}

/* home page formatting */
.home_page {
  width: 100vw;
  height: 90.5vh;
  background: url("https://img.freepik.com/free-photo/rice-fields-bali_1385-1430.jpg?t=st=1715610010~exp=1715613610~hmac=6a361f91e36857a0f0a50621904076e0f164b4c5d588f4743aa75602bbc04e18&w=900") no-repeat center fixed;
  background-size: cover;
}

.home_contents {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 3vw;
  padding: 2vw;
  background-color: hsla(127, 60%, 73%, 0.75);
  border: none;
  border-radius: 3vw;
}

/* item container formatting*/ 
.items {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  /* fills out the row before moving to the next line/space below, minimum width of 8% viewport width, and a maximum of one fraction share of free space */
  grid-template-columns: repeat(auto-fill, minmax(8vw, 1fr));
  column-gap: 1vw;
  justify-content: center;
}

/* item formatting */
.item {
  display: flex;
  flex-direction: column; /* item elements occupy one row each*/
  align-items: center; /* align elements to center*/
  margin: 1vw;
  padding: 1vw;
  
  border: 1px solid #ddd;
  border-radius: 1vw;
  background-color: white;
  box-shadow: 0px 0.6vw 1vw 0.4vw rgba(0, 0, 0, 0.258);

  width: 15vw;
}

/* detail formatting */
.item_details {
  display: flex; 
  flex-direction: column-reverse; /* reverses the order in which the details are shown*/
  width: 100%;
}

/* item image formatting */
.item_img {
  width: 12vw;
  height: 15vw;
  object-fit: contain;
  color: #90E39A;
  border-radius: 0.5vw;
  align-self: center;
  position:sticky;

  /* on hover */
  transition-duration: 0.4s;
  cursor: pointer;
}

/* changing the image attributes when hovered on */
.item_img:hover {
  transform: scale(1.25);
  opacity: 90%;
  margin-bottom: 0.2vw;
}

.addtocart:hover ~ .item_img {
  transform: scale(1.15);
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);
}

/* button formatting */
.addtocart, .removeItem, .logout, .checkout, .cancelOrder {
  display: flex;
  margin: 0.5vw;
  height: 2.25vw;   
  align-self: center;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 3.5vw;
  background-color: #EC4E20;
  color: white;
  
  text-decoration: none;
  font-size: 1vw;

  /* on hover */
  transition-duration: 0.4s;
  cursor: pointer;
}

.checkout {
  background-color: #35605A;
}

.logout {
  width: 6vw;
}

.addtocart {
  width: 8vw;
}

.removeItem, .checkout, .cancelOrder, .cancelOrder.cancelled, .cancelOrder.completed {
  width: 4vw;
}

.submit {
  margin: 0.025vw;
  height: 1.6vw;
  width: 5.75vw;
  align-self: center;
  text-align: center;

  border: none;
  border-radius: 0.85vw;
  background-color: #90E39A;
  color: black;

  text-decoration: none;
  font-size: 1.2vw;
  font-weight: bold;
}

.addtocart:hover, .removeItem:hover, .cancelOrder:hover {
  background-color: white; 
  color: black; 
  border: 0.2vw solid #EC4E20;
}

.checkout:hover {
  background-color: white;
  color: #35605A;
  border: 0.2vw solid #35605A;
}

.cancelOrder.cancelled, .cancelOrder.completed {
  border: none;
  pointer-events: none;
}

.cancelOrder.cancelled {  
  color: #EC4E20;
  background-color: #EC4E20;
}

.cancelOrder.completed {
  color: #90E39A;
  background-color: #90E39A;
}

/* add to cart section formatting */
.cart, .order {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  box-shadow: 0px 0px 1vw 0.6vw rgba(0, 0, 0, 0.2);
}

.cart_header, .order_header {
  display: flex;
  width: 100%;
  height: 4vw;
  flex-direction: row;
  align-items: center;
  background-color: hsl(332, 87%, 3%);
  color: #E3DFFF;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  top: 1;
  width: 100%;
}

.sticky_placeholder {
  height: 4vw;
  background-color: rgba(61, 58, 75, 0);
}

.custom_dropdown {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-top: 1vw;
  font-size: 1vw;
  align-items: center;
  justify-content: flex-end;

  margin-right: 4vw;

  position: relative;
}

.custom_dropdown_container {
  position: fixed;
  display: inline-block;
} 

.dropdown_header {
  cursor: pointer;
  border: none;
  border-radius: 1.2vw;
  padding: 0px 0.5vw;
  text-align: center;
  align-content: center;

  min-width: 6vw ;
  width: fit-content;
  height: 2.5vw;
  
  background-color: #90E39A;
  color: white;
  
}

.sort_by_option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.label {
  padding-right: 0.5vw;
}

.dropdown_options {
  z-index: 1;
  position: absolute;
  top: calc(100% + 5px); /* Position dropdown options below header */
  right: 0;

  border: none;
  border-radius: .5vw;
  background-color: #90E39A;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown_option {
  cursor: pointer;
  padding: 8px 12px;
  transition: background-color 0.2s ease;
  width: 4vw;
}

.dropdown_option:hover {
  background-color: #35605A;
}

.cart_body, .order_body {
  width: 100%;
  background-color: white;
}

.cart_items, .order_transactions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cart_item, .order_item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  
  width: 100%;
  padding: 1vw;
  border-bottom: 0.1vw solid #3D3A4B;
  
  align-items: center;
  text-align: left;

  /* transition for hovered event */
  transition: background-color 0.45s ease, color 0.45s ease;
}

.cart_item.hovered_delete, .order_item.hovered{
  background-color: #EC4E20;
  color: white;
}

.cart_item.hovered_checkout{
  background-color: #35605A;
  color: white;
}

.cart_item_quantity, .qty {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.order_item.cancelled {
  background-color: #EC4E20;
  color: white;
}

.order_item.completed {
  background-color: #90E39A;
  color: black;
}

.qty_input {
  width: 3vw;
  font-size: 1.2vw;
}

.admin-dashboard {
  padding: 20px;
  text-align: center;
}

.admin-options {
  margin-top: 20px;
}

.admin-options button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.totalPrice{
  display: flex;
  padding: 1vw;
  justify-content: flex-start;
  align-items: center;
}

/* stylizing the trash icon for remove */
svg {
  height: 2vw;
}

/* name and price formatting */

#item_name, #item_qty, #item_price {
  margin: 0;
  padding: 0.5vw;
  text-align: center;
}

#item_name {
  cursor: pointer;
}

#item_name, #order_product {
  font-size: 1.8vw;
  font-weight: bold;
}

.order_status, #item_price {
  font-size: 1.5vw;
  font-style: oblique;
}

#item_qty, #order_qty {
  font-size: 1vw;
  font-style: oblique;
}

/* shopping cart/view orders elements formatting */
#cart_title, #order_title {
  font-size: 1.4vw;
  font-weight: bold;
  padding-left: 15px;
}

#num_items, #num_orders {
  font-size: 1.4vw;
  padding-right: 1vw;
}

#cart_item_name, #order_product {
  font-weight: bold;
  font-size: 1.3vw;
}

#cart_item_name {
  flex: 1;
}

#emptyCart, #emptyOrder {
  margin-top: 2vh;
  font-size: 1.8vw;
}

#cart_item_quantity, #cart_item_price, #order_qty, .order_status {
  font-style: italic;
  font-size: 1.3vw;
}

#cart_item_quantity, #cart_item_price {
  flex: 0.6;
}

#order_product {
  flex: 0.5;
}

.date_time {
  display: flex;
  flex-direction: column;
  flex: 0.3;
}

#date_time_label {
  font-size: 1.1vw;
  font-style: oblique;
  font-weight: 500;
}

#date_time_val {
  font-size: 1vw;
  text-decoration: underline;
  font-weight: 500;
}

#order_qty, .order_status {
  flex: 0.4;
}

/* modal styling */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
  background-color: #90e39a;
  margin: auto;
  padding: 1.5vw;
  border: 0.1vw;
  border-radius: 1vw;
  box-shadow: 0 0.5vw 1.5vw rgba(0, 0, 0, 0.3);
  
  width: 80%;
  max-width: 500px;
  position: relative;
  text-align: center;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.close {
  color: #EC4E20;
  float: right;
  font-size: 2.8vw;
  font-weight: bold;
  position: absolute;
  top: 0.3vw;
  right: 2vw;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal_left {
  flex: 0.25;
}

.modal_right {
  flex: 0.75;
  text-align: left;
  padding-left: 2vw;
  padding-right: 2vw;
  align-self:flex-start ;
}

/* Modal image */
.modal_content img {
  width: 10vw;
  height: 16vw;
  object-fit: contain;
  margin-bottom: 0.25vw;
  border: none;
  border-radius: 1vw;

  background-color: white;
}

.modal_name {
  font-size: 2vw;
  font-weight: bold;
  margin-top: 0.4vw;
  margin-bottom: 1vw;
}

.modal_type {
  font-size: 1.4vw;
  margin: 0.5vw 0;
}

.modal_price, .modal_qty, .modal_description {
  font-size: 1.2vw;
  margin: 0.5vw 0;
}

.modal_description {
  height: 60%;
  overflow-y: auto;
}

/* Admin Dashboard formatting/styling */
.admin-dashboard {
  padding: 20px;
  text-align: center;
}

.admin-options {
  margin-top: 20px;
}

.admin-options button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #35605A;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.admin-options button:hover {
  background-color: #90E39A;
  color: #35605A;
}

.admin-products, .admin-users, .browse-orders {
  margin-top: 20px;
}

.product-list, .admin-users ul, .browse-orders ul {
  list-style-type: none;
  padding: 0;
}

.product-item, .admin-users li, .browse-orders li {
  background-color: #ffffff;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-item h3, .admin-users li, .browse-orders li {
  margin: 0;
  padding: 0;
}

.add-product, .admin-users ul, .browse-orders ul {
  margin-top: 20px;
}

.add-product input, .add-product button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-product button {
  background-color: #35605A;
  color: white;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.add-product button:hover {
  background-color: #90E39A;
  color: #35605A;
}

/* #cart_item_quantity, #cart_item_price {
  font-style: italic;
  font-size: 1.3vw;
} */

#totalPrice_title {
  font-weight: bold;
  font-size: 1.3vw;
  text-align: right;
  margin-right: 10px;
}

#totalPrice_val {
  font-style: oblique;
  font-size: 1.3vw;
}