.product-card {
    /* padding: 2em; */
    border-radius: 0.5em;
    border: 0.1em solid var(--main-black);
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform 0.6s;
    max-width: 225px;
    max-height: 300px;
    margin-bottom: 2em;
}

.crops {
    border: 0.1em solid var(--main-green);
}

.crops:hover {
    border: 0.1em solid var(--main-green-hover);
    transform: scale(1.05);
}

.poultry {
    border: 0.1em solid var(--main-orange);
}

.poultry:hover {
    border: 0.1em solid var(--main-orange-hover);
    transform: scale(1.05);
}

.product-card img {
    max-width: calc(225px - 0.2em);
    width: 12em;
    min-width: 100px;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

.product-info {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.product-card .product-name {
    margin-top: 10px;
    font-size: 1.4em;
    color: var(--main-black);
}

.product-card .product-price, .product-card .product-stock {
    margin-top: 5px;
    font-size: 0.75em;
    color: var(--main-black);
}

.product-card .button-holder {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    align-self: flex-end;
    justify-content: space-evenly;
}

.product-card button {
    border: none;
    margin-bottom: 0.5em;
}

.product-card .delete {
    background-color: var(--main-red);
    color: var(--main-white);
}

.product-card .delete:hover {
    background-color: var(--main-red-hover);
    color: var(--main-white);
}

